/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
	--color-primary: #5261a3;
	--color-surface: #dde0ee;
	--color-accent-muted: #a0a9cf;
	--color-accent-active: #65a6c3;
}